.sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    left: 0px;
    top: 0px;
    justify-content: space-between;
}

.copyright {
    writing-mode: vertical-rl;
    text-orientation: sideways-left;
}