.section_card {
    display: flex;
    flex-direction: column;
 
    .card {
        /* background */
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 258px;
        height: 124px;
        background: #FBFBFB;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
        border-radius: 5px;

        .card_img {
            position: absolute;
            text-align: center;
            padding-left: 1.3%;
            padding-top: 1.3%;
        }

        .card_img1 {
            width: 60px;
            height: 60px;
            background: #FF0000;
            mix-blend-mode: normal;
            opacity: 0.07;
            border-radius: 6px;
        }

        .card_img2 {
            width: 60px;
            height: 60px;
            background: rgba(74, 184, 255, 0.1);
            mix-blend-mode: normal;
            border-radius: 6px;
        }

        .card_img3 {
            width: 60px;
            height: 60px;
            background:#F9CE23;
            mix-blend-mode: normal;
            opacity: 0.07;
            border-radius: 6px;
        }

        .card_img4 {
            width: 60px;
            height: 60px;
            background: rgba(253, 81, 129, 0.1);
            mix-blend-mode: normal;
            border-radius: 6px;
        }
    }
}